<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to suggest nearby events and personalized content based on your area.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is used to keep you informed about relevant local content, even when the app is not open.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to allow you to take photos and videos within the app for profile pictures, sharing moments, and more.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We require access to your photo library so you can upload images and videos for profile customization, sharing content, and storing app-generated media.</string>
</dict>
</plist>
